.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.main{
  --myFlexBasis:50%;
  display: flex;
  

  &>div{
    flex: 1 1 var(--myFlexBasis);
    padding: 2em;
    box-sizing: border-box;
  }

}


@media screen and (max-width:720px) {
  .main{
    --myFlexBasis:100%;
    flex-wrap: wrap-reverse;

    & > .checkBoxGroup{
      height: fit-content !important;
    }
  }
}